@model SkillUpsertVM

@{
    ViewData["Title"] = @localizer["Skills"];
    ViewData["SubTitle"] = Model.SkillUpsertDto?.Id == null ? @localizer["Add New Skill"] : Model.SkillUpsertDto.Name;
    ViewData["ActiveSidebar"] = "liSkill";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" style="margin: auto !important;">
                <div class="card card-outline card-primary">
                    <form asp-action="@(Model.SkillUpsertDto?.Id == null ?"CreateSkill":"UpdateSkill")" method="post">
                        <input type="hidden" asp-for="SkillUpsertDto.Id" />
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="SkillUpsertDto.Name"> @localizer["Product Name"]</label><span class="text-red text-bold">*</span>
                                        <input asp-for="SkillUpsertDto.Name" class="form-control" />
                                        <span asp-validation-for="SkillUpsertDto.Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="SkillUpsertDto.PublisherId">@localizer["Publisher"]</label><span class="text-red text-bold">*</span>
                                        <select asp-for="SkillUpsertDto.PublisherId" class="form-control" asp-items="Model.Publishers">
                                            <option value="">@localizer["Select Publisher"]</option>
                                        </select>
                                        <span asp-validation-for="SkillUpsertDto.PublisherId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label> @localizer["Activety Status"]</label>
                                        <select asp-for="SkillUpsertDto.IsActive" class="form-control" style="width: 100%;">
                                            <option value="true">@localizer["Active"]</option>
                                            <option value="false">@localizer["Inactive"]</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="row">
                                <div class="col-sm-12 pr-10">
                                    <div class="float-right">
                                        <a id="btnClose" asp-action="Index" class="btn btn-sm btn-secondary m-1 pl-3 pr-3"><i class="ace-icon fa fa-arrow-left"></i> @localizer["BackToList"]</a>
                                        @if (Model.SkillUpsertDto?.Id != null)
                                        {
                                            <a asp-action="DeleteSkill" asp-route-id="@Model.SkillUpsertDto.Id" onclick="return confirm('@localizer["Are you sure you want to delete this Product Name?"]')" class="btn btn-sm btn-danger m-1 pl-3 pr-3"><i class="ace-icon fa fa-trash bigger-130 "></i> @localizer["Delete"]</a>
                                        }
                                        <button type="submit" class="btn btn-sm btn-primary"> @(Model.SkillUpsertDto?.Id == null ? @localizer["Save"] : @localizer["Edit"])</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}




