@model LoginFilter
@{
    Layout = null;
    //var ReturnUrl = ViewData["ReturnUrl"] as string;
    var error = ViewData["error"] as string;
}

@if (!string.IsNullOrEmpty(error))
{
    <h4 class="alert alert-danger" style="padding:20px;">@error</h4>
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adlas</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <link rel="icon" href="~/images/nsozlogo-icon.jpg">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="#" class="h1">
                    <img src="~/images/adlashelpdesk.png" alt="Logo" style="width:80%" />
                </a>
                <br />
                <span>
                    <span class="grey">@localizer[" Adlas Help desk system Administration"] </span>
                    <small class="alert-light p-1 text-muted">
                        V @System.Reflection.Assembly.GetExecutingAssembly().GetName().Version.ToString()
                    </small>
                </span>
            </div>
            <div class="card-body">
                <p class="login-box-msg">
                    @localizer["Login"]
                </p>
                <form asp-area="admin" asp-controller="Auth" asp-action="login" method="post">
                    <input type="hidden" asp-for="@Model.ReturnUrl" />
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" asp-for="@Model.Username" placeholder="@localizer["UserName"]">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="@Model.Username" class="text-danger"></span>
                    <div class="input-group mb-3 mt-2">
                        <input type="password" class="form-control" asp-for="@Model.Password" placeholder="@localizer["Password"]">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                    <div class="row  mt-2">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" checked="checked" id="remember">
                                <label for="remember">
                                    @localizer["RememberMe"]
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">@localizer["Login"]</button>
                        </div>
                    </div>
                </form>

                <p class="m-1">
                    <a href="forgot-password.html"> @localizer["ForgotPassword"]</a>
                </p>
            </div>
        </div>
    </div>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>
    @await Component.InvokeAsync("Notyf")
    <partial name="_ValidationScriptsPartial" />
</body>
</html>