@using AdlasHelpDesk.Application.Interfaces.Base;
@inject ICurrentUserService _currentUserService
@{
    var CurrentUser = _currentUserService.User();
    string imageUrl = "/dist/img/avatar5.png";
}

<aside class="main-sidebar sidebar-dark-info elevation-4" >
        <a href="@Url.Action("Index", "Admin")" class="brand-link">
        <img src='~/images/adlashelpdesk.png' alt="Adlas Logo" class="brand-image img-circle elevation-3">
        <span class="brand-text font-weight-light">@localizer["Adlas Help Desk"]</span>
        </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="@imageUrl" class="img-circle elevation-2" alt="User Image" asp-append-version="true">
            </div>
            <div class="info">
                <a href="#" class="text-white">@CurrentUser.FullName</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="University" asp-action="Index" class="nav-link text-white @(ViewData["ActiveSidebar"]?.ToString() == "liUniversities" ? "alert-primary" : "")">
                        <i class="nav-icon fas fa-university text-info"></i>
                        <p>@localizer["Universities"]</p>
                    </a>
                </li>

                <li class="nav-item @(ViewData["ActiveTreeMenu"]?.ToString() == "liProductTree" ? "menu-open" : "")">
                    <a href="#" class="nav-link text-white @(ViewData["ActiveTreeMenu"]?.ToString() == "liProductTree" ? "active" : "")">
                        <i class="nav-icon fas fa-boxes text-primary"></i>
                        <p>
                            @localizer["Products"]
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="ProductType" asp-action="Index" class="nav-link @(ViewData["ActiveSidebar"]?.ToString() == "liProductType" ? "active" : "")">
                                <i class="far fa-folder-open nav-icon text-warning"></i>
                                <p>@localizer["Products Types"]</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="ProductName" asp-action="Index" class="nav-link @(ViewData["ActiveSidebar"]?.ToString() == "liProductName" ? "active" : "")">
                                <i class="fas fa-box nav-icon text-teal"></i>
                                <p>@localizer["Products Names"]</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Stock" asp-action="Index" class="nav-link @(ViewData["ActiveSidebar"]?.ToString() == "liStock" ? "active" : "")">
                                <i class="fas fa-image nav-icon text-purple"></i>
                                <p>@localizer["Products(with image)"]</p>
                            </a>
                        </li>
                    </ul>
                </li>  
                <li class="nav-item @(ViewData["ActiveTreeMenu"]?.ToString() == "liTicketTree" ? "menu-open" : "")">
                    <a href="#" class="nav-link text-white @(ViewData["ActiveTreeMenu"]?.ToString() == "liTicketTree" ? "active" : "")">
                        <i class="nav-icon fas fa-boxes text-primary"></i>
                        <p>
                            @localizer["Ticket"]
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="TicketStatus" asp-action="Index" class="nav-link @(ViewData["ActiveSidebar"]?.ToString() == "liTicketStatus" ? "active" : "")">
                                <i class="far fa-folder-open nav-icon text-warning"></i>
                                <p>@localizer["Ticket Status"]</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Stock" asp-action="Index" class="nav-link @(ViewData["ActiveSidebar"]?.ToString() == "liTicketTree" ? "active" : "")">
                                <i class="fas fa-box nav-icon text-teal"></i>
                                <p>@localizer["Products Names"]</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Stock" asp-action="Index" class="nav-link @(ViewData["ActiveSidebar"]?.ToString() == "liStock" ? "active" : "")">
                                <i class="fas fa-image nav-icon text-purple"></i>
                                <p>@localizer["Products(with image)"]</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a asp-controller="Publisher" asp-action="Index" class="nav-link text-white @(ViewData["ActiveSidebar"]?.ToString() == "liPublisher" ? "alert-primary" : "")">
                        <i class="nav-icon fas fa-building text-orange"></i>
                        <p>@localizer["Publishers"]</p>
                    </a>
                </li> 
                <li class="nav-item">
                    <a asp-area="admin" asp-controller="AllowedEmailDomain" asp-action="Index" class="nav-link text-white @(ViewData["ActiveSidebar"]?.ToString() == "liAllowedEmailDomain" ? "alert-primary" : "")">
                        <i class="nav-icon fas fa-building text-orange"></i>
                        <p>@localizer["Allowed Email Domain"]</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-area="admin" asp-controller="Slide" asp-action="Index" class="nav-link text-white @(ViewData["ActiveSidebar"]?.ToString() == "liSlide" ? "alert-primary" : "")">
                        <i class="nav-icon fas fa-images text-pink"></i>
                        <p>@localizer["Skills"]</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-area="admin" asp-controller="ProblemType" asp-action="Index" class="nav-link text-white @(ViewData["ActiveSidebar"]?.ToString() == "liProblemType" ? "alert-primary" : "")">
                        <i class="nav-icon fas fa-tools text-cyan"></i>
                        <p>@localizer["Problems Types"]</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-area="admin" asp-controller="Blog" asp-action="Index" class="nav-link text-white @(ViewData["ActiveSidebar"]?.ToString() == "liBlog" ? "alert-primary" : "")">
                        <i class="nav-icon fas fa-bullhorn text-light"></i>
                        <p>@localizer["Purchase Sources"]</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-area="admin" asp-controller="ServicesProducts" asp-action="Index" class="nav-link text-white @(ViewData["ActiveSidebar"]?.ToString() == "liServicesProducts" ? "alert-primary" : "")">
                        <i class="nav-icon fas fa-store-alt text-success"></i>
                        <p>@localizer["Stores"]</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-area="admin" asp-controller="Library" asp-action="Index" class="nav-link text-white @(ViewData["ActiveSidebar"]?.ToString() == "liLibrary" ? "alert-primary" : "")">
                        <i class="nav-icon fas fa-certificate text-warning"></i>
                        <p>@localizer["Library"]</p>
                    </a>
                </li>
            </ul>
        </nav>


</aside>

<script>
    var url = window.location;
    // for sidebar menu entirely but not cover treeview
    $('ul.nav-sidebar a').filter(function () {
        return this.href == url;
    }).addClass('active');

    // for treeview
    $('ul.nav-treeview a').filter(function () {
        return this.href == url;
    }).parentsUntil(".nav-sidebar > .nav-treeview").addClass('menu-open').prev('a').addClass('active');
</script>
